doctype html
html
  head
    title Bergen Bilhjelp AS
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='/stylesheets/vendor.css')
    link(rel='stylesheet' href='/stylesheets/app.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,400italic,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
  body(ng-app="bb")
    ui-view
