[layout="row"] {
  display: flex;
  flex-direction: row;
}
[layout="column"] {
  display: flex;
  flex-direction: column;
}
.home {
  background-image: url("/images/bg2.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100vw;
  min-height: 90vh;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
}
.home h1 {
  font-size: 4em;
  font-weight: 300;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
}
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  min-height: 100vh;
}
