@import 'templates/*.styl'

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif
}

.wrapper {
  min-height: 100vh
}
